* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ff9a4b;
  height: 50px;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.main-contents {
  background-color: #eeeeee;
  padding: 10px 10px;
  width: 300px;
  position: relative;
  margin-right: 30px;
}

.main-contents:last-child {
  margin-right: 0;
}

.step {
  background-color: #ff9a4b;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.main-image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.main-image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.main-image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

.heading {
  margin: 15px 0 5px;
}

footer {
  background-color: #aaaaaa;
  height: 50px;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }

  main {
    display: block;
    width: 100%;
  }

  .main-contents {
    width: 90%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-contents:last-child {
    margin-bottom: 0px;
    margin-right: auto;
  }

  footer {
    width: 100%;
  }
}
